<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Your Name</title>
</head>
<body>
    <div class="grid-2">
        <div class="section-1">
            <i class="fas fa-code fa-5x white"></i>
            <h2>FirstName LastName</h2>
            <p>City,Country.</p>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
        <div class="section-2">
            <h2>About</h2>
            <p>This is a test site to display html animations. Please work. Thank you for working.</p>
            <h2>Skills</h2>
            <h2>HTML Animations</h2>
            <p>Set 1</p>
            <p>160x600</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="600" width="160" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/6069953024360448/index.html">
            </iframe>
            <p>300x250</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="250" width="300" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/5029187959259136/index.html">
            </iframe>
            <p>300x600</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="600" width="300" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/5150131906281472/index.html">
            </iframe>
            <p>320x50</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="64" width="347" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/4906231182524416/index.html">
            </iframe>
            <p>360x60</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="60" width="360" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/6517893366939648/index.html">
            </iframe>
            <p>360x120</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="120" width="360" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/4924210368610304/index.html">
            </iframe>
            <p>620x250</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="250" width="620" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/5797876459503616/index.html">
            </iframe>
            <p>970x250</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="250" width="970" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/6133723306262528/index.html">
            </iframe>
            <p>728x90</p>
            <iframe ng-if="$ctrl.currentPreview" id="preview-frame" height="90" width="728" ng-attr-sandbox="allow-same-origin allow-scripts {{$ctrl.allowPopups ? 'allow-popups' : ''}}" scrolling="no" class="ng-scope" sandbox="allow-same-origin allow-scripts " src="//h5validator.appspot.com/api/preview/5839951771074560/index.html">
            </iframe>
            <h2>Contact</h2>
            <p>nic.hartmann@materialplus.io</p>
        </div>
    </div>
</body>
</html>
